.headerContent{
    /* background: #2432b7; */
    background: #020c30;
    padding: 30px 0 15px 0;
}
.headerContent img{
    margin: 0 auto !important;
}
.hiring{
    color: #fff !important;
}
.hiring-text{
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #46b6f8;
    font-family: Montserrat;
}
.logoImg{
    cursor: pointer !important;
}
/* @media screen and (max-width: 767px) {
    .headerContent {
      padding: unset;
    }
  } */