.headerContent{
    background: #2432b7;
    padding: 15px 0;
}
.headerContent img{
    margin: 0 auto !important;
}
.hiring{
    color: #fff !important;
}
.hiring-text{
    padding-top: 20px;
    letter-spacing: 3px;
    font-size: 18px;
    color: black;
}
.logoImg{
    cursor: pointer !important;
}
/* @media screen and (max-width: 767px) {
    .headerContent {
      padding: unset;
    }
  } */