.inputDesign{
    display: block;
    padding-top: 10px;
}
.layout .css-12dv9jb {
  min-width: 100%;
}

.layout{
  margin: 50px auto 10px;
  max-width: 600px;
  
}
.viewBtn{
  display: flex;
  justify-content: center;
  position: relative;
}

.viewBtn button{
  position: absolute;
  bottom: 8px;
  right: 40px;
}

@media screen and (max-width: 767px) {
  .css-1v5z4dq-MuiPaper-root-MuiCard-root{
    margin: unset !important;
    border: unset !important;
  }
}