.inputDesign{
    display: block;
    padding-top: 10px;
}

.main-container{
  margin: 50px auto 10px;
  max-width: 600px;
  
}
.main-container .viewBtn{
  display: flex;
  justify-content: center;
  position: relative;
}

.main-container .viewBtn button{
  position: absolute;
  bottom: 18px;
  right: 40px;
}

@media screen and (max-width: 767px) {
  .css-1v5z4dq-MuiPaper-root-MuiCard-root{
    margin: unset !important;
    border: unset !important;
  }
}